<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>task-manager</title>
    <link th:href="@{/styles/employee-page.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/employee-page.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="main-container" id="mainContainer">
    <div class="header">
        <h1>Task Manager</h1>
        <button th:onclick="createTask()">New Task</button>
        <button th:onclick="logout()">Logout</button>
    </div>
    <div class="content">
        <div class="filter">
            <div class="filter_item">
                <label>Start Date</label>
                <input type="date" id="startDate" min="2022-08-21" value="2022-08-21">
            </div>
            <div class="filter_item">
                <label>End Date</label>
                <input type="date" id="endDate" min="2022-08-21" value="2022-08-21">
            </div>
            <div class="filter_item">
                <label>Status</label>
                <div>
                    <select id="status">
                        <option>ANY</option>
                        <option>NEW_TASK</option>
                        <option>BUG</option>
                        <option>RE_OPEN</option>
                        <option>RESOLVED</option>
                        <option>DONE</option>
                    </select>
                </div>
            </div>
            <div class="filter_item">
                <button th:onclick="filterTasks($('#startDate'),$('#endDate'),$('#status').val())">Filter</button>
            </div>
        </div>
        <div class="tasks" th:object="${tasks}">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Creation Date</th>
                    <th>Update Date</th>
                    <th>User</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody th:each="task: ${tasks}">
                    <tr>
                        <td th:text="${task.taskName}"></td>
                        <td th:text="${task.createdAt}"></td>
                        <td th:text="${task.updatedAt != null}? ${task.updatedAt} : 'not'"></td>
                        <td th:text="${task.user.email}"></td>
                        <td th:text="${task.taskStatus.statusType}"></td>
                        <td style="display:none;" th:text="${task.id}"></td>
                        <td>
                            <button class="update-button" th:onclick="updateTask($(this).closest('tr'))">Update</button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>